body {
	background-color: #000;
	height: 100%;
	width: 100%;
	color: white;
}

.text-center{
  text-align: center;
}


.space-top{
  margin-top: 35px;
}

/* Title */

h1 {
    color: white;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 45px;
    text-align: center;
}

/* Sign Up */

.container {
    max-width: 400px;
    max-height: 100px;
	margin-top: 100px;
	color: white;
}

.alert-danger{
	text-align: center;
}

.signup-screen {
	padding: 20px;
    padding-bottom: 40px;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0 10px 25px rgba(0,214,252,.5);
    color: white;
}

.btn{
  border-radius: 2px;
}

.input-group {
	width:100%;
	padding-left: 10px;
}

.input-group .ng-invalid {
    border: 2px solid #e74c3c;
    border-radius: 3px;
}
div .input-field{
	color: white;
}
/* Error Box */

.alert{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
  border-color: #e85a71;
  background-color:  #e85a71;
  color: white;
  
}

.help-block {
    font-size: 12px;
    color: white
}